@media (min-width: 1024px) and (max-width: 1239px) {
    .home-product-item__action {
        display: flex;
        align-items: center;
        padding: 6px;
        cursor: pointer;
        justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .home-product-item__price {
        display: flex;
        padding: 0 8px;
        overflow: hidden;
        flex-direction: column;
        margin-top: -8px;
    }
    .home-product-item__price-current {
        font-size: 1.4rem;
        margin: 0 auto;
    }
    .home-product-item__price-old {
        font-size: 1.1rem;
        margin: 0 auto;
    }
    .home-product-item__origin {
        display: flex;
        justify-content: space-around;
        padding: 0 0px 10px;
        color: #595959;
        font-size: 1.2rem;
        font-weight: 300;
    }
    .home-product-item__origin-name {
        margin: 0;
    }
    .home-filter {
        justify-content: space-around;
    }
    .home-filter__page {
        display: none;
    }
    .home-product-item__like {
        display: none;
    }
    .header__logo-img__style {
        filter: invert(1);
        width: 80px;
    }
    .style__logo {
        font-size: 1.8rem;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        /* color: yellow; */
        color: white;
        margin: 0;
    }
    .header__search {
        width: 550px;
        border-radius: 10px;
        height: 38px;
        background-color: white;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1023px) {
     :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    .style__logo {
        font-size: 2.2rem;
    }
    .header__search-select {
        display: none;
    }
    .header__search-history {
        width: 100%;
    }
    .header__cart-wrap {
        float: right;
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px)/2);
    }
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }
    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
        /* margin-top: var(--header-height); */
    }
    .app__content {
        padding-top: 8px;
    }
    .header__cart-list::after {
        display: none;
    }
    .header__sort-bar {
        display: flex;
    }
    .mobile-category {
        display: block;
    }
    .mobile-category__link {
        text-decoration: none;
        color: white;
        font-size: 1.4rem;
        line-height: 2rem;
        text-align: center;
        width: 110px;
        height: 40px;
        display: block;
        border-radius: 4px;
        font-weight: 300;
        user-select: none;
        -webkit-user-select: none;
        line-height: 40px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__logo-img__style {
        filter: invert(1);
        width: 65px;
    }
    .header__logo-name {
        height: 40px;
        display: grid;
        align-items: center;
        margin-left: 4px;
    }
    .style__logo {
        font-size: 1.6rem;
    }
    .header__cart {
        width: auto;
        text-align: left;
    }
    .header__search {
        width: 375px;
        margin: -10px;
    }
    .header__search-history {
        width: 375px;
    }
    .header__search-btn {
        width: 60px;
    }
}

@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .pagination-item {
        margin: 0;
        width: 34px;
    }
    .app__content {
        margin: 0;
    }
    .pagination-item__link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }
    .header-with-search {
        justify-content: space-around;
    }
    .header__search {
        display: none;
    }
    .header__mobile-search-icon {
        display: block;
        font-size: 2.1rem;
        color: white;
    }
    .header__cart-icon {
        color: white;
        font-size: 2.1rem;
    }
    .header__logo {
        margin-left: 10px;
    }
    .style__logo {
        font-size: 1.6rem;
    }
    .header__logo-img__style {
        width: 65px;
        margin-top: 4px;
    }
    .header__cart {
        width: auto;
    }
    .header__logo-name {
        height: 40px;
    }
    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
        z-index: 1;
        width: 100%;
        display: flex;
        margin: auto;
        animation: mobile-search linear 0.3s;
        display: none;
        border: 1px solid #333;
    }
    .header__mobile-search {
        display: block;
    }
    @keyframes mobile-search {
        from {
            opacity: 0.5;
            top: calc(var(--header-height)/2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
    .header__search-history {
        width: 739px;
    }
    .header-search-checkbox:checked~.header__search {
        display: flex;
    }
    .home-product-item__price-old {
        font-size: 1.1rem;
    }
    .home-product-item__price-current {
        font-size: 1.4rem;
    }
    .home-product-item__name {
        font-size: 1.1rem;
    }
    .home-product-item__rating {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        margin: 0;
    }
    .home-product-item__sold {
        font-size: 1.1rem;
        margin: 0;
    }
    .footer__download {
        justify-content: center;
    }
    .footer-list-icon {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .footer__heading {
        text-align: center;
    }
    .footer__download-apps {
        flex: none;
    }
    .footer-item__link {
        display: block;
        text-align: center;
        padding: 0;
    }
    .home-product-item__like {
        display: none;
    }
    .home-product-item__action {
        display: flex;
        align-items: center;
        padding: 6px;
        cursor: pointer;
        justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .home-product-item__price {
        display: flex;
        padding: 0 8px;
        overflow: hidden;
        flex-direction: column;
        margin-top: -8px;
    }
    .home-product-item__price-current {
        font-size: 1.4rem;
        margin: 0 auto;
    }
    .home-product-item__price-old {
        font-size: 1.1rem;
        margin: 0 auto;
    }
    .home-product-item__origin {
        display: flex;
        justify-content: space-around;
        padding: 0 0px 10px;
        color: #595959;
        font-size: 1.2rem;
        font-weight: 300;
    }
    .home-product-item__origin-name {
        margin: 0;
    }
    .header__search-history {
        border-radius: 0px;
    }
    .header__search {
        border-radius: 3px;
    }
    .header__cart-list {
        border-radius: 0px;
    }
}